

.esri-widget-panel {
  width: 230px;
  height: 140px;
  background: rgba(30, 30, 40, 0.7);
  border-radius: 5px;
  overflow: auto;
  flex-direction: column;
  transition: opacity 0.2s, visibility 0.2s;
  bottom: 100px;
  left: 50%;
  margin-left: -125px;
  z-index: 2500;
  padding: 10px;
}

.panel-visible {
  display: flex;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  position: fixed;
}

.panel-hidden {
  display: none !important;
}


.widget-panel-content arcgis-basemap-gallery {
  width: 100%;
  min-height: 80px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}
.widget-panel-content arcgis-legend{
  width: 100%;
  min-height: 80px;
  align-items: stretch;
  justify-content: flex-start;
}
.widget-panel-content arcgis-sketch{
  align-items: stretch;
  justify-content: flex-start;
}

/* WIDGET MANAGER PERSONALIZADO - CENTRO INFERIOR */
.custom-widget-manager {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%) scale(0.7);
  transform-origin: bottom center;
  display: flex;
  flex-direction: row;
  gap: 12px;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 6px 14px;
  border-radius: 25px;
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

/* BOTONES DEL MANAGER */
.manager-btn {
  width: 60px;
  height: 60px;
  background-color: rgb(31, 31, 31);
  border: 2px solid #65e6e2;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.manager-btn:hover {
  background-color: hsla(178, 72%, 65%, 0.453);
  border-color: rgba(255, 255, 255, 0.6);
  transform: scale(1.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.manager-btn.active {
  background-color: rgba(0, 150, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 20px rgba(0, 150, 255, 0.6);
  transform: scale(1.05);
}

.manager-btn.active:hover {
  background-color: rgba(0, 150, 255, 1);
  transform: scale(1.15);
}


.titleBasemap{
  font-weight: 400;
  font-size: 25px;
  margin-bottom: -5px;
}

.esri-component, .esri-attribution, .esri-widget{
  background: black !important;
}